.fondo-error {
    background-color: $violeta;
    background-size: cover;
    background-position: center;
    background: repeating-linear-gradient(-30deg, $negro 5px, $negro 5px, $violeta 300px);
    margin-left: 10px;
}
.error-parrafo {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 5rem;
    text-align: center;
    color: $blanco;
}
.error-titulos {
    font-size: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    color: $blanco;
    text-decoration: overline;
    margin-top: $size - 15;
    margin-bottom: $size - 15;
}
.error-link {
    text-decoration: none;
    color: $blanco;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: $size;
    font-size: 2rem;
}
.link:hover {
    color: gold;
}

.error-icono {
    color: $blanco;
    text-align: center;
}
.fa-dizzy {
    font-size: 10rem;
}