.galeria {
    width: 100%;
    background-color: $negro;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;

}

.body__article--margin {
    margin-bottom: 50px;
    border-bottom: white solid 1px;
}

.body__h2--titulo {
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    color: $blanco;
    text-decoration: overline;
    margin-top: 15px;
    margin-bottom: 35px;
}
