.topmargin-xs {margin-top: 20px !important;} 
.topmargin-sm {margin-top: 40px !important;}
.topmargin-lg {margin-top: 60px !important;}

body {
    font-family: 'Titillium Web', sans-serif;
}

.titulo-fondo {
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    color: black;
}

.parrafo-fondo {
    color: black;
    line-height: 2;
    margin-bottom: 0;
}

.division {border-bottom: 2px solid lightgray;}
.bg-negro {background-color: black;}

section {
    padding: 20px 0;
}

a ion-icon {
    color: white;
}

.btn {
    font-size: 20px;
    padding: 2px 5px;
    min-width: 150px;
    border-radius: 2px;
    display: inline-block;
}

.btn-light {
    background-color: white;
    color: black;
    border: 2px solid white;
}

.btn-dark {
    background-color: $violeta;
    color: white;
    border: 2px solid white;
}

.btn-dark:hover {
    color: white;
}

.btn-transparent {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-transparent:hover {
    color: white;
}

.full-width {width: 100%;}

.dropright-circle {
    font-size: 12px;
    margin-left: 4px;
    color: black;
}

.texto-boton {margin-top: 12px;}


.navbar {
    background-color: white;
    min-height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.nav-link {
    color: $negro;
}

.nav-link:hover {
    color: $violeta;
}

.navbar-toggler {
    font-size: 40px;
}

.navbar-toggler:focus {
    outline: none;
}

#home {
    background-image: url(../img/fondo-phrakia.jpeg);
    background-size: cover;
    padding-top: 100px;
    min-height: 700px;
    color: white;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    margin-top: 80px;
    text-align: center;
}

.logo {
    min-width: 40px;
    max-width: 60px;
}

.titulo-portafolio {
    font-size: 45px;
    margin-bottom: 25px;
}

.galeria-contenedor {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;

    img {
        -moz-transition: all 0.7s;
        -webkit-transition: all 0.7s;
        transition: all 0.7s;

    }

    img:hover {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);

    }
}

.galeria-look {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 8000;

    a:hover {
        text-decoration: none;
    }

    h2 {
        margin-bottom: 0px;
    }
}

.galeria-sub , .galeria-parrafo {
    color: white;
}

.texto-negro {
    color: black;
}

.bg-light-gray {
    background-color: lightgray;
}

.team .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  .team .member .pic {
    overflow: hidden;
  }
  .team .member .member-info {
    position: absolute;
    top: 85%;
    left: 20px;
    right: 20px;
    background: #fff;
    padding: 20px 0;
    color: #2f4d5a;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    max-height: 95px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  .team .member:hover .member-info {
    max-height: 300px;
  }
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #2f4d5a;
    position: relative;
    padding-bottom: 10px;
  }
  .team .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #b1cbd7;
    bottom: 0;
    left: calc(50% - 25px);
  }
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  .team .member .social {
    margin-top: 15px;
  }
  .team .member .social a {
    transition: color 0.3s;
    color: #52869d;
  }
  .team .member .social a:hover {
    color: #67b0d1;
  }
  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }
  @media (max-width: 992px) {
    .team .member {
      margin-bottom: 110px;
    }
  }

.precio-contenedor {
    margin: 15px 0;
}

.planes {
    padding: 50px 80px;
    min-width: 450px;
    border-radius: 2px;

    h2 {
        font-size: 65px;
        font-weight: 550;
    }

    span {
        font-size: 20px;
    }
}

.plan-light {
    background-color: white;
    border: 2px solid $violeta;
    color: black;
}

.plan-dark {
    background-color: black;
    border: 2px solid $violeta;
    color: white;
}

.carousel {
    min-height: 240px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
}

.carousel-item p {
    font-size: 26px;
    font-weight: 400;
    color: black;
}

.carousel-indicators li {
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 0 8px;
}

.carousel-control-next, .carousel-control-prev { 
    color: white;
    opacity: 1;
    width: 5%;
}

.control-button {
    background-color:black;
    opacity: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 20px;
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
}

.puntaje-estudiante {
    max-width: 240px;
    margin: 0 auto;
    text-align: left;

    h6 {margin-bottom: 0px;}
    span {font-size: 12px;}

    img {
        border-radius: 50%;
        max-width: 50px;
        text-align: center;
    }

}

.puntaje ion-icon {
    color: goldenrod;
    font-size: 25px;
}

.form-control {
    height: auto;
    font-size: 15px;
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 2px;
}
    .form-control:focus {
    border: 1px solid $violeta;
    outline: none;
    box-shadow: none;
    transform: scale(105%);
    }

    #footer {
        padding: 80px 0;
        text-align: center;
        color: white;

        a {
            color: white;
        }

        .list-inline, .list-inline-item {
            padding: 10px 15px;

        }
    }

    #footer a:hover {
        color: white;
        text-decoration: none;
    }

    #footer-menu {
        margin-left: 40px;
    }


    








